*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Livvic', sans-serif;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}